<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Main</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="bg-gray-50 text-gray-800">
  {{header}}

  <main class="flex flex-col items-center text-center px-6 mt-12 mb-6">
    <h2 class="text-4xl font-bold mb-4">
      <i class="fa-solid fa-face-sad-cry"></i> Page not found
    </h2>
    <a href="/" class="px-6 py-3 bg-blue-500 text-white rounded-xl shadow hover:bg-blue-600">
      <i class="fa-solid fa-arrow-left"></i> To main page</a>
  </main>
</body>

</html>